@model WebStore_Contrast.Models.ViewModels.Cart.CartVM

<section class="page-content">
    You cart: @Model.Quantity item(s) - @Model.Price ₴
    <br />
    @Html.ActionLink("Checkout", "MainCart")
</section>