@model IEnumerable<WebStore_Contrast.Models.ViewModels.Pages.PageVM>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a href="/@item.Slug">
            @item.Title
        </a>
    </li>
}