@model IEnumerable<WebStore_Contrast.Models.ViewModels.Shop.CategoryVM>

@{
ViewBag.Title = "Categories";
}

<div class="page-container">
    <a href="/" class="admin_bookmark"></a>

    <div class="main">
        <div class="container-fluid">
            <div class="min_content_fix">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div class="wrap_heading">
                            <div class="box_heading heading_page">Категорії</div>
                            <div class="box_btn_heading">
                                <a class="btn btn_small btn-info" href="~/admin/shop/AddNewCategory">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" width="20px" height="20px"><path d="m23,10h-8.5c-0.3,0-0.5-0.2-0.5-0.5v-8.5c0-0.6-0.4-1-1-1h-2c-0.6,0-1,0.4-1,1v8.5c0,0.3-0.2,0.5-0.5,0.5h-8.5c-0.6,0-1,0.4-1,1v2c0,0.6 0.4,1 1,1h8.5c0.3,0 0.5,0.2 0.5,0.5v8.5c0,0.6 0.4,1 1,1h2c0.6,0 1-0.4 1-1v-8.5c0-0.3 0.2-0.5 0.5-0.5h8.5c0.6,0 1-0.4 1-1v-2c0-0.6-0.4-1-1-1z" fill="currentColor"></path></svg>
                                    <span>Додати категорію</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <form method="post" class="fn_form_list fn_fast_button">
                            <div class="contrast_list products_list fn_sort_list" style="min-height: 939px;">
                                <div class="fn_step_sorting contrast_list_head">
                                    <div class="contrast_list_boding contrast_list_drag"></div>
                                    <div class="contrast_list_heading contrast_list_check">
                                        <input class="hidden_check fn_check_all" type="checkbox" id="check_all_1" name="" value="">
                                        <label class="contrast_checkbox" for="check_all_1"></label>
                                    </div>
                                    <div class="contrast_list_heading contrast_list_photo">
                                        <a href="#" class="main_image_id"> <!-- Add sorting of image -->
                                            Фото
                                        </a>
                                    </div>
                                    <div class="contrast_list_heading contrast_list_name">
                                        <a href="#"> <!-- Add sorting for name --> 
                                            Назва
                                        </a>
                                    </div>
                                    <div class="contrast_list_heading contrast_list_status">
                                        <a href="#"> <!-- Add sorting for activity -->
                                            Активність
                                        </a>
                                    </div>
                                    <div class="contrast_list_heading contrast_list_setting contrast_list_products_setting">Дії</div>
                                    <div class="contrast_list_heading contrast_list_close"></div>
                                </div>

                                <div class="contrast_list_body sort_extended ui-sortable"></div>

                                @* Bottom of products *@
                                <div class="contrast_list_footer fn_action_block">
                                    <div class="contast_list_foot_left">
                                        <div class="contrast_list_boding contrast_list_drag"></div>
                                        <div class="contrast_list_heading contrast_list_check"></div>
                                        <div class="contrast_list_option"></div>
                                        <div class="fn_additional_params"></div>
                                    </div>
                                    <button type="submit" class="btn btn_small btn_blue">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" width="20px" height="20px"><path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z" fill="currentColor"></path></svg>
                                        <span>Застосувати</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm txt_center"></div>
                </div>
            </div>



        </div>
        <footer id="footer">
            <div class="col-md-12 font_12 text_white">
                <a href="/admin/dashboard/">CONTRAST</a>
                © 2020 v.1.0.0 | Ви ввійшли як Admin
            </div>
        </footer>
    </div>


    <div class="fn_fast_save"></div>
</div>



<div id="fn_action_modal" class="modal fade show" role="document"></div>
</div>















@* <h2>Categories</h2>

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}

<div class="new-cat">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="InputGroup-sizing-default">Category Name</span>
        </div>
        <input type="text" id="newcatname" class="form-control" />
    </div>
    <p>
        <a href="#" id="newcata" class="btn btn-success">Add a new category</a>
        <span class="ajax-text">
            <img src="~/Content/img/ajax-loader.gif" height="50" />
        </span>
    </p>
</div>

@if (!Model.Any())
{
    <h1 class="text-center"> There are no categories. </h1>
}
else
{
    <table class="table sorting" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="ajaxdivtd"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-0">
                                <div class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-top: 10px;"></div>
                            </div>
                            <div class="col">
                                @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete btn btn-danger" })
                </td>
            </tr>
        }
    </table>
}

@section Scripts
{
    <script src="~/Content/ShopJS/CategoriesViewJS.js"></script>
}  *@